<div class="row">

  <div class="col-sm-12">
   <div class="col-sm-12 well">
        
    <div class="col-sm-4">
		<span class="col-sm-12"><b>{{ 'label.analyzed environments'|trans }} :</b></span>
		<br/><br/>
    {% if station.legends|first.legend.link!='' and station.legends|first.legend.link!='#' %}
		<span class="col-sm-12"><b><a href="{{ station.legends|first.legend.link }}" target="_blank">{{ station.legends|first.legend.name }}</a></b></span>
    {% else %}
    <span class="col-sm-12"><b>{{ station.legends|first.legend.name }}</b></span>
    {% endif %}
    {% if station.legends|first.legend.showDescription %}<br/><br/>
		<span class="col-sm-12">{{ station.legends|first.legend.description }}</span>
    {% endif %}
	</div>
    
    <div class="col-sm-8">
    <form name="tab_search" method="post" class="form-horizontal">
    
   
	
	<div class="form-group">
	  <label class="col-sm-2 control-label" for="station">{{ 'label.station'|trans }}:</label>
	  <div class="col-sm-7">
        <select class="stations form-control">
    {% for legendstation in station.legends|first.legend.stations %}
      <option value="{{ legendstation.station.id }}" 
              data-url="{{ url('v2-measures', {'station': legendstation.station.id}) }}#measures-table"
              {% if legendstation.station.id==station.id %} selected="selected" {% endif %} >{{  legendstation.station.name }} ({{  legendstation.station.code }})</option>
    {% endfor %}
  </select>
  
      </div>
    </div>

    <div class="form-group">
    <div class="col-sm-2 control-label">{{ 'label.isotope'|trans }}:</div>
	  <div class="col-sm-7">
        <select class="nuclide nuclides-table form-control">
         {% for nuclide in nuclides %}
        <option value="{{ nuclide.id }}">{{ nuclide.name }}</option>
      {% endfor %}
    </select>
      </div>
      </div>
	
	</form>
	</div>
  </div>
  </div>
</div>