<div class="row">
  <div class="col-sm-12">
   <div class="col-sm-12 well">
    

      <div class="col-sm-8">
      
      <div class="col-sm-12">
        {% autoescape false %}
        {{ message }}
        {% endautoescape %}
      </div>
      <div>&nbsp;</div>

      <form name="tab_search" method="post" class="form-horizontal">

        <div class="form-group">
          <div class="col-sm-4 control-label"><strong>{{ 'label.analyzed environments'|trans }} :</strong></div>
          <div class="col-sm-6">
            <select id="legend" name="legend" class="legends form-control">
              <option value="">{{ 'choices.select_legend'|trans}}</option>
              {% for legend in legends %}
              <option value="{{ legend.id }}">{{ legend.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 control-label"><strong>{{ 'label.station'|trans }} :</strong></div>
          <div class="col-sm-6">
            <select id="station" name="station" class="stations form-control">
              <option value="">{{ 'choices.select_legend_first'|trans}}</option>
            </select>
          </div>
        </div>

      </form>
      </div>

   </div>
  </div>
</div>



  

  
