
    <div class="box map-legend box-with-tabs"> 
    <div class="header">
        <div class="htab active">{{ 'main.map.map legend'|trans }}</div>
      </div>
     <div class="content">
        <div class="ctab active">
          <div class="section samples" >
            <h4>{{ 'label.analyzed environments'|trans }}</h4>
            <ul>
				{% for legend in legends %}
				<li>
					<input type="checkbox" id="legend_{{ legend.id }}" value="" name="categorie[]" data-legend="{{ legend.id }}" data-nature="{{ legend.name }}" title="{{ legend.name }}"/>
                    <label for="legend_{{ legend.id }}">
                    	<span class="icon legend" id="icon_legend_{{ legend.id }}" style="color:#{{ legend.color }};"></span>
                    	{{ legend.name }}
                    </label>
                     {% for legendstation in legend.stations %}
                    
                     {% if legendstation.station.hasCoordinates() %}
                        <span class="location samples" id="location_sample_{{ legendstation.station.id }}" style="display:none;" data-icon="icon_legend_{{ legend.id }}" data-latitude="{{ legendstation.station.latitude }}" data-longitude="{{ legendstation.station.longitude }}" data-link="{{ url('measures',{'id': legendstation.station.id}) }}">
                          <span class="title">{{ legendstation.station.name }}</span>
                          <span class="text">
                          	
                                  {% set result = measureSrv.getLastResultByStationAndIsotope(
                                            legendstation.station.id,
                                            legend.nuclides|sortbyfield('position')|first.nuclide.id
                                        ) %}
                                    {% if result|default is not empty %}
                                    <ul>
                             
                                	<li style="font-size: 0.9em;">
                                
{{ result.measurement.referencedate|date('d.m.Y') }} : {{ legend.nuclides|sortbyfield('position')|first.nuclide.name }},  {% if result.limited==1 %} &lt;{{ "%.1e"|format(result.value) }} {% else %} {{ "%.1e"|format(result.value) }} {% if result.error|default is not empty %} &plusmn;{{ "%.1e"|format(result.error) }} {% endif %} {% endif %} {{ result.measurement.resultUnit.code }}
                                    </li>
                                    </ul>
                                    {% endif %}
                                  
                             
                            {{ legendstation.station.description|raw }}
                          </span>
                        </span>
                      {% endif %} 
                    {% endfor %}     
				</li>
				{% endfor %}
				<li>
                <input type="checkbox" id="legend_selectall" class="selectall" value="" name="none" />
                <label for="legend_selectall">{{ 'application.selectall_or_unselectall'|trans }}</label>
              </li>
			</ul>
			<div class="zooms">
              {% for zoom in zooms %}
      			<div class="zoomarea" data-latitude="{{ zoom.latitude }}" data-nlatitude="{{ zoom.nlatitude }}" data-slatitude="{{ zoom.slatitude }}" data-longitude="{{ zoom.longitude }}" data-elongitude="{{ zoom.elongitude }}" data-wlongitude="{{ zoom.wlongitude }}" data-zoom="{{ zoom.zoom }}" ></div>
              {% endfor %}
            </div>
            </div>
            <div class="sep"></div>
        <div class="section sites">
            <h4>{{ 'label.sites'|trans }}</h4>
            <ul>
            <li>
                <input type="radio" value="" id="sitetype_none" name="sitetype" />
                <label for="sitetype_none">{{ 'application.none'|trans }}</label>
              </li>
              {% for siteType in siteTypes %}
                  <li>
                    <input type="radio" id="sitetype_{{ siteType.id }}" value="" name="sitetype" />
                    <label for="sitetype_{{ siteType.id }}"><span class="icon sitetype" id="icon_sitetype_{{ siteType.id }}" style="color:#{{ siteType.color }};"></span>{{ siteType.name }}</label>
                    
                    {% for site in siteType.sites %}    
                      <span class="location sites location_site_{{ site.id }}" id="location_site_{{ site.id }}" style="display:none;" data-icon="icon_sitetype_{{ siteType.id }}" data-parent="{{ siteType.id }}" data-id="{{ site.id }}" data-latitude="{{ site.latitude }}" data-nlatitude="{{ site.nlatitude }}" data-slatitude="{{ site.slatitude }}" data-longitude="{{ site.longitude }}" data-elongitude="{{ site.elongitude }}" data-wlongitude="{{ site.wlongitude }}" data-zoom="{{ site.zoom }}" >
                        <span class="title">{{ site.name }}</span>
                        <span class="text">{{ site.description|raw }}</span>
                        <span class="sublocations">
                          
                          {% for station in site.stations %}
                              {% if station.hasCoordinates() %}
                          
                              <span class="sublocation sites" style="display:none;" data-icon="{% if station.legends|length>0 %}{{ 'icon_legend_' ~station.legends|first.legend.id }}{% else %}{{ 'icon_sitetype_' ~siteType.id }}{% endif %}" data-latitude="{{ station.latitude }}" data-longitude="{{ station.longitude }}" data-link="{{ url('measures',{'id': station.id}) }}">
                                <span class="title">{{ station.name }}</span>
                                <span class="text">
                                  {% if station.legends|length>0 %}
                                    <ul>
                                      {% set nuclide = station.legends|first.legend.nuclides|sortbyfield('position')|first.nuclide %}
                                      {% set result = measureSrv.getLastResultByStationAndIsotope(
                                            station.id,
                                            nuclide.id
                                        ) %}
                                        {% if result|default is not empty %}
                                      
                                        <li style="font-size: 0.8em;">
                                        {{ result.measurement.referencedate|date('d.m.Y') }} : {{ nuclide.name }},  {% if result.limited==1 %} &lt;{{ "%.1e"|format(result.value) }} {% else %} {{ "%.1e"|format(result.value) }} {% if result.error|default is not empty %} &plusmn;{{ "%.1e"|format(result.error) }} {% endif %} {% endif %} {{ result.measurement.resultUnit.code }}
                                          
                                        </li>
                                      {% endif %}
                                    </ul><br/>
                                  {% endif %}
                                  {{ station.description|raw }}
                                </span>
                              </span>
                            {%  endif %}
                          {%  endfor %}
                            
                        </span>
                      </span>
                    {%  endfor %}
                    
              	</li>
              {%  endfor %}
              </ul>
              {% for siteType in siteTypes %}
              <select id="sitetype_{{ siteType.id }}_sites" class="select-{{ loop.index - 1 }}" style="display: none;">
                <option value="all">{{ 'label.all'|trans }}</option>
                {%  for site in siteType.sites %}    
                  <option value="{{ site.id }}" id="site_{{ site.id }}">{{ site.name }}</option>
                {%  endfor %}
              </select>
           {%  endfor %}
        </div>
        <div class="sep"></div>
        <div class="section automatic_network_stations">  
            <h4>{{ 'label.automatic networks'|trans }}</h4>
            <ul>
            	<li>
                <input type="radio" value="" id="automatic_network_none" name="automatic_network" />
                <label for="automatic_network_none">{{ 'application.none'|trans }}</label>
              </li>
              
            	{% for automaticNetwork in automaticNetworks %}
            	 <li>
                    <input type="radio" id="automatic_network_{{ automaticNetwork.id }}" value="" name="automatic_network" />
                    <label for="automatic_network_{{ automaticNetwork.id }}"><span class="icon network" id="icon_network_{{ automaticNetwork.id }}" style="color:#{{ automaticNetwork.color }};"></span>{{ automaticNetwork.name }}</label>
                    {% for station in automaticNetwork.automaticNetworkStations %}    
                      <span class="location automatic_network_stations location_automatic_network_station_{{ station.id }}" style="display:none;" data-icon="icon_network_{{ automaticNetwork.id }}" data-id="{{ station.id }}" data-latitude="{{ station.latitude }}" data-longitude="{{ station.longitude }}" data-link="{{ automaticNetwork.url }}" data-link-target="_blank">
                        <span class="title">{{ station.name }}</span>
                        <span class="text">{{ station.description|raw }}</span>
                      </span>
                    {%  endfor %}
                 </li>
            	{%  endfor %}
            </ul>
        </div>
            </div>
            </div>
            </div>
            </div>
   
   

