 <div class="c2">
    <div class="box map-legend box-with-tabs"> 
    <div class="header">
        <div class="htab active">{{ 'main.map.map legend'|trans }}</div>
      </div>
     <div class="content">
        <div class="ctab active">
          <div class="section samples" >
            <h4>{{ 'label.analyzed environments'|trans }}</h4>
            <ul>
				{% for legend in legends %}
				<li>
					<input type="checkbox" id="legend_{{ legend.id }}" value="" name="categorie[]" data-legend="{{ legend.id }}" data-nature="{{ legend.name }}" title="{{ legend.name }}"/>
                    <label for="legend_{{ legend.id }}">
                    	<span class="icon legend" id="icon_legend_{{ legend.id }}" style="color:{{ legend.color }};"></span>
                    	{{ legend.name }}
                    </label>
                    {% for station in legend.stations %}
                      {% if station.hasCoordinates() %}
                        <span class="location samples" id="location_sample_<%= station.id -%>" style="display:none;" data-icon="icon_legend_<%= legend.id -%>" data-latitude="<%= station.latitude -%>" data-longitude="<%= station.longitude -%>" data-link="<%= url_for :controller => :measures, :id => station.id -%>">
                          <span class="title"><%= station.name -%></span>
                          <span class="text">
                            <ul>
                              <% station.last_results_by_nuclide(legend.nuclides.first).each do |result| -%>
                                <li style="font-size: 0.8em;">
                                  <%= l result.measurement.referenceDate, :format => "%d.%m.%Y" -%>:&nbsp;
                                  <%= result.nuclide.name %>,&nbsp;
                                  <%= (result.limited ? '&lt;&nbsp;' : '').html_safe + ("%.1e" % result.value).to_s -%>&nbsp;
                                  <%= ('&#177; ' + ("%.1e" % result.error).to_s + '&nbsp;').html_safe unless result.error.nil? || result.error == 0 -%>
                                  <%= result.unit.name -%>
                                </li>
                              <% end -%>
                            </ul><br/>
                            {{ station.description }}
                          </span>
                        </span>
                      {% endif %}
                    {% endfor %}      
				</li>
				{% endfor %}
				<li>
                <input type="checkbox" id="legend_selectall" class="selectall" value="" name="none" />
                <label for="legend_selectall">{{ 'application.selectall_or_unselectall'|trans }}</label>
              </li>
			</ul>
            </div>
            <div class="sep"></div>
        <div class="section sites">
            <h4>{{ 'label.sites'|trans }}</h4>
            <ul>
            <li>
                <input type="radio" value="" id="sitetype_none" name="sitetype" />
                <label for="sitetype_none">{{ 'application.none'|trans }}</label>
              </li>
              {% for siteType in siteTypes %}
                  <li>
                    <input type="radio" id="sitetype_{{ siteType.id }}" value="" name="sitetype" />
                    <label for="sitetype_{{ siteType.id }}"><span class="icon sitetype" id="icon_sitetype_{{ siteType.id }}" style="color:{{ siteType.color }};"></span>{{ siteType.name }}</label>
              	</li>
              {%  endfor %}
              </ul>
        </div>
        <div class="sep"></div>
        <div class="section automatic_network_stations">  
            <h4>{{ 'label.automatic networks'|trans }}</h4>
            <ul>
            	<li>
                <input type="radio" value="" id="automatic_network_none" name="automatic_network" />
                <label for="automatic_network_none">{{ 'application.none'|trans }}</label>
              </li>
              
            	{% for automaticNetwork in automaticNetworks %}
            	 <li>
                    <input type="radio" id="automatic_network_{{ automaticNetwork.id }}" value="" name="automatic_network" />
                    <label for="automatic_network_{{ automaticNetwork.id }}"><span class="icon network" id="icon_network_{{ automaticNetwork.id }}" style="color:{{ automaticNetwork.color }};"></span>{{ automaticNetwork.name }}</label>
                    
                 </li>
            	{%  endfor %}
            </ul>
        </div>
            </div>
            </div>
            </div>
            </div>
   
   
          
 
  
  
  
</div>
