{% extends 'base.html.twig' %}

{% block stylesheets %}
		
        <link rel="stylesheet" href="{{ asset('css/old/application.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/old/main.css') }}" />
 
{% endblock %}


{% block javascripts %}
    {% javascripts 
    	'js/test1.js'
    	'js/test2.js' 
        output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
   
{% endblock %}

  
  
{% block body %}

<div id="page-margins">
      <div id="page">
        <div id="header">
          <div class="right-top">{{ 'application.header.administration'|trans }}</div>
          <div class="right-middle">{{ 'application.header.office'|trans }}</div>
          <div class="right-bottom">{{ 'application.header.division'|trans }}</div>
          <div class="title">
            {{ 'application.header.title'|trans }}<br/>
            <span class="website">
              <a href="http://www.radenviro.ch">www.radenviro.ch</a>
            </span>
          </div>
          <div id="menu">
            {% include 'menu.html.twig' %}
          </div>
        </div>
        
    <div id="content">    
	{% block content %}
		Ici, le contenu de l'onglet courant!
		
	{% endblock %}
	</div>	
 
   	</div>
{% endblock %}
